/* ================= Top of each page ================= */

/* The title of each page */
h1.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* The taskbar at the top of each page */
.taskbar {
  background-color: #e0faff; /* light sky blue */
  display: block;
  text-decoration: none;
  width: auto;
  margin: 3px;
  margin-bottom: 20px;
  padding: 12px;
}

/* ================= Tables ================= */

.auctionlist {
  border-spacing: 0;
  border-collapse: separate;
}

tr.auctionlist:hover {
  background-color: #f5f5f5;
}

/* The name of an auction in a list of auctions */
.auctionListTitle {
  font-size: 20px;
}

/*  ================= Text input boxes ================= */
.searchbox {
  font-size:20px;
}
